/* body {
    background: linear-gradient(-45deg, #d1a3dd, #b1debb, #796ec1, #95db9c);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    height: 60vh;
}*/

body{
    background-image: url(PAATHVAANI\Untitledslide.jpg);
}

/*
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

#top {
    font-size: smaller;
    height: 20px;
    width: 100%;
    background-color: #222248;
    margin-top: 0%;
    margin-bottom: 2px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#signin {
    height: 70%;
    margin-left: 150px;
    border-radius: 5px;
    width: 80px;
    background-color: #ffffff;
    color: #1e9a60;
    border-color: #198754;
    border-width: 1px;
    box-shadow: 2px 2px 2px 2px #382742;
}

#signin:hover {
    background-color: #198754;
    color: #ffffff;
}

.lang {
    background-color: #222248;
    color: white;
    height: 18px;
}

#top div {
    margin-left: 15px;
    width: 25vw;
}

#logo {
    /* animation: gradient 15s ease infinite; */
    height: 80px;
    width: 100%;
    background-color: rgb(212, 197, 232);
    /* margin-bottom: 15px; */
    display: flex;
    border: rgb(255, 255, 255);
    border-bottom-width: 10px;
    border-style: solid;
}

#logo .img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

#logo h1 {
    align-self: center;
    margin-left: 30px;
}

#navigation {
    height: 60px;
    width: 100%;
    display: flex;
    background: rgb(56, 17, 113);
    background: linear-gradient(90deg, rgba(56, 17, 113, 1) 0%, rgba(91, 41, 140, 1) 43%, rgb(165, 131, 218) 100%);
    justify-content: space-between;
    align-items: center;
}

#nav1 {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
}

#slide {
    height: 550px;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    padding: 2rem;
    display: flex;
    /* width: 100%;
    height: 600px; */
    background-image: url("PAATHVAANI\Untitledslide.jpg");
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 18 / 11;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.7rem;
    -ms-overflow-style: none;
    /* Hide scrollbar IE and Edge */
    /* scrollbar-width: none; */
    /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #c28ae2;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}


#div1 {
    height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 15px; */
    display: flex;
    color: white;

}

#BL {
    color: rgb(84, 62, 165);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(93, 67, 120);
}

.list-inline2 {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list-inline-item2 {
    height: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(203, 201, 203);
}

.list-inline-item a,
.list-inline-item2 a {
    text-decoration: none;
}

.list-inline-item a:hover,
.list-inline-item2 a:hover {
    color: rgb(99, 183, 99);
    font-size: 103%;
}


#image {
    width: 50vw;
    background-color: rgb(146, 139, 156);
    margin: 20px;
    display: flex;
    box-shadow: 8px 10px 10px #9463ac;
}

#centerimage {
    height: 100%;
    width: 100%;
}

#bullets {
    width: 23%;
    color: black;
    /* background-color: rgb(146, 139, 156); */
    margin: 20px;
    display: flex;
    margin-left: 30px;
    gap: 20px;
}

#div2 {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 20px; */
    display: flex;
}

.tabla{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(0, 0, 0);
    background: rgb(84, 83, 184);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(207, 207, 222) 43%, rgb(141, 131, 218) 100%);
}
.tabla:hover{
 cursor: pointer;
 /* box-shadow: 7px 7px #382742; */
}

#resources {
    border-radius: 10px;
    width: 33vw;
    margin: 20px;
    border: 0cm;
}

#changes {
    border-radius: 10px;
    width: 33vw;
    margin: 20px;
    border: 0cm;
}

#reports {
    border-radius: 10px;
    width: 33vw;
    margin: 20px;
    border: 0cm;
}
.nan{
    display: flex;
}

#bullu{
   height: 65px;
   width: 65px;
}

#cullu{
    height: 65px;
    width: 65px;
 }

 #gullu{
    height: 65px;
    width: 65px;
 }

 div>h5{
    font-size: 22px;
 }
#footer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: rgb(56, 17, 113);
    background: linear-gradient(90deg, rgba(56, 17, 113, 1) 0%, rgba(91, 41, 140, 1) 43%, rgb(165, 131, 218) 100%);
}
#footer1 {
    background: rgb(56, 17, 113);
    background: linear-gradient(90deg, rgba(56, 17, 113, 1) 0%, rgba(91, 41, 140, 1) 43%, rgb(165, 131, 218) 100%);
    height: 80PX;
    width: 100%;
    /* border-bottom: 3px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyright {
    display: flex;
    flex-direction: column;
}

#copyright p {
    margin: 0px;
    color: rgb(251, 245, 237);
    margin-left: 30px;
}

#socialmedia {
    margin-right: 30px;
    gap: 20px;
}

#socialmedia img {
    height: 35px;
    width: 35px;
    margin: 10px;
}

#socialmedia img:hover {
    opacity: 45%;
}

#footer2 {
    /* background-color: rgb(53, 51, 53); */
    height: 45PX;
    width: 100%;
    /* margin-bottom: 10px; */
}

.last1{
    font-size: smaller;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: rgb(245, 241, 236);
    list-style: none;
    width: 100%;
    margin: 0%;
}

.last{
    color: rgb(245, 241, 236);
    text-decoration: none;
    /* border-right: 1px;
    border-right-color:rgb(245, 241, 236);
    border-right-style: solid; */
    margin-right: 30px;
}
.last a{
    text-decoration: none;
    color: rgb(251, 245, 237);
    /* margin-top: 20px; */
}
.last a:hover{
    color: rgb(244, 217, 181);
}
